<div class="flex flex-row space-x-4">
  <div
    class="flex w-[12rem] h-[28rem] flex-col space-y-2 p-4 md:h-[35rem] md:w-[23rem] bg-[#fed7aa] basis-1/6 rounded-lg border p-2 shadow-md justify-center items-center"
  >
    <div
      class="flex flex-row w-[6rem] h-[6rem] md:w-[12rem] md:h-[8rem] justify-center md: rounded-lg border transition delay-150 duration-150 ease-in-out hover:-translate-y-1 hover:scale-110 cursor-pointer bg-[#f5f5f4]"
    >
      <div class="flex flex-col 30">
        <div class="flex justify-center">
          <img
            class="h-15 md:h-20"
            src="assets/images/boisson.jpg"
            alt="photo"
          />
        </div>
        <div class="text-l sm:text-l p-2 text-center font-bold">Boissons</div>
      </div>
    </div>
    <div
      class="flex flex-row w-[6rem] h-[6rem] md:w-[12rem] md:h-[8rem] justify-center md: rounded-lg border transition delay-150 duration-150 ease-in-out hover:-translate-y-1 hover:scale-110 cursor-pointer bg-[#f5f5f4]"
    >
      <div class="flex flex-col 30">
        <div class="flex justify-center">
          <img class="h-15 md:h-20" src="assets/images/plat.jpg" alt="photo" />
        </div>
        <div class="text-l sm:text-l p-2 text-center font-bold">Plats</div>
      </div>
    </div>
    <div
      class="flex flex-row w-[6rem] h-[6rem] md:w-[12rem] md:h-[8rem] justify-center md: rounded-lg border transition delay-150 duration-150 ease-in-out hover:-translate-y-1 hover:scale-110 cursor-pointer bg-[#f5f5f4]"
    >
      <div class="flex flex-col 30">
        <div class="flex justify-center">
          <img
            class="h-15 md:h-20"
            src="assets/images/dessert.jpeg"
            alt="photo"
          />
        </div>
        <div class="text-l sm:text-l p-2 text-center font-bold">Desserts</div>
      </div>
    </div>
  </div>
  <div
    class="flex w-[10rem] h-[28rem] md:w-[55rem] md:h-[35rem] justify-center items-center flex-col space-y-2 p-4 space-x-4 bg-[#fed7aa] basis-5/6 rounded-lg"
  >
    <div class="flex flex-col space-y-4 items-center justify-center">
      <div
        class="flex flex row bg-[#f5f5f4] rounded-lg border w-[13rem] h-[18rem] md:w-[50rem] md:h-[24rem] justify-center items-center"
      >
        <div routerLink= "/basket"
          class="flex flex-col space-y-0 rounded-lg border w-[15rem] h-[20rem] md:w-[37rem] md:h-[22rem] "
        >
          <!-- Image-->
          <div class="flex flex-row justify-center p-4">
            <img
              class="h-10 sm:h-20"
              src="assets/images/dessert.jpeg"
              alt="photo"
            />
          </div>
          <!-- Titre -->
          <div class="flex flex-row justify-center p-0">
            <div class="text-s p-0 text-center font-bold">Classic Burger</div>
          </div>
          <!-- Etoiles -->
          <div class="flex flex-row justify-center p-2">
            <mat-icon
              aria-hidden="false"
              aria-label="Example home icon"
              fontIcon="star_border"
              color=""
            ></mat-icon>
            <mat-icon
              aria-hidden="false"
              aria-label="Example home icon"
              fontIcon="star_border"
              color=""
            ></mat-icon>
            <mat-icon
              aria-hidden="false"
              aria-label="Example home icon"
              fontIcon="star_border"
              color=""
            ></mat-icon>
          </div>

          <!-- Description -->
          <div class="flex flex-row justify-center p-0">
            <div class="text-xs sm:text-l p-0 text-center font-bold">
              <p>
                The term burger can also be applied to the meat patty on its
                own, especially in the United Kingdom, where the term patty is
              </p>
            </div>
          </div>
          <!-- Prix + ajout -->
          <div class="flex flex-row justify-between p-4">
            <div class="text-s sm:text-l p-0 text-center font-bold bg[#ef4444]">
              10.00€
            </div>
            <div class="flex flex-row space-x-8">
              <mat-icon
                aria-hidden="false"
                aria-label="Example home icon"
                fontIcon="add_circle_outline"
                color=""
              ></mat-icon>
              <div class="flex justify-center">1</div>
              <mat-icon
                fontIcon="remove_circle_outline "
                color="warn"
              ></mat-icon>
            </div>
          </div>
        </div>
      </div>
      <div
        class="flex flex-row bg-[#f5f5f4] rounded-lg border w-[13rem] h-[3rem] md:w-[50rem] md:h-[6rem] justify-between items-center p-10"
      >
        <div routerLink="/home">
          <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="reply_all"
            color=""
          ></mat-icon>
        </div>
        <div routerLink= "/basket">
          <div
            class="flex rounded-lg border w-[8rem] h-[3rem] md:w-[15rem] md:h-[3rem] justify-between items-center p-2 bg-[#ff9900]"
          >
            <div class="text-l sm:text-l p-0 text-center font-bold">
              Ajouter au panier
            </div>
            <mat-icon
              aria-hidden="false"
              aria-label="Example home icon"
              fontIcon="shopping_basket"
              color=""
            ></mat-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
