.content {
  padding: 16px;
}

.content > mat-card {
  margin-bottom: 16px;
}

.content > mat-card {
  width: 200px;
}

mat-card img{
  object-fit: cover; /*this makes the image in src fit to the size specified below*/
  width: 40%; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
  height: 20%;
  /* centrer l'image  */
  display: block;
  margin-left: auto;
  margin-right: auto;
}
mat-icon {
  transform: scale(2);
}

footer{
  position:fixed;
  bottom:0px;
  width:100%;
}

.h1 {
  text-align: center;
}

mat-toolbar {
  justify-content: space-between;
}

.content {
  padding: 4px;

}

.content > mat-card {
  margin-bottom: 16px;
}
.mat-card-title {
  display: flex;
  justify-content: center;
}
.mat-card-title {
  text-align: center;
}
.img {
  max-width: 200px;
  max-height: 200px;
}



