.nav {
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  font-family: "Montserrat", sans-serif;
  height: 100px;
  background-color: aqua;
}
mat-toolbar {
  justify-content: space-between;
}

.content {
  padding: 16px;
}

.content > mat-card {
  margin-bottom: 16px;
}
.mat-card-title {
  display: flex;
  justify-content: center;
}
.mat-card-title {
  text-align: center;
}
mat-card {
  background-color: #b0adad;
  color: #2d3436;
}
