<div class="flex flex-row space-x-4 items-center">
  <div
    class="flex w-[22rem] h-[28rem] md:w-[70rem] justify-center flex-col space-y-2 p-4 md:h-[30rem] md:flex-row space-x-4 overflow-auto rounded-lg border p-2 shadow-md justify-center"
  >

    <div class="content" routerLink="/menu">
      <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="33%" (click)="ChoisirPlat(food)" *ngFor="let food of this.foods | foodFilter: typeFilter; let i = index">
          <mat-card class="mat-elevation-z4">
            <mat-card-header>
              <mat-card-title >{{food.name}}</mat-card-title>
            </mat-card-header>
            <img mat-card-image [src]="food.img">
            <mat-card-actions>
              <button mat-button>{{food.price}}</button>
              <span  *ngFor="let n of createArray(food.notation)">
                <button mat-button><mat-icon fontIcon="star_border" ></mat-icon></button>
              </span>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
