<div class="flex w-[18rem] flex-col space-y-2 p-4 md:h-[25rem] md:w-[60rem]">
  <!-- Pour le titre-->

  <!--Pour le Menu-->
  <div
    class="flex w-[16rem] flex-col space-y-6 rounded-lg border p-2 shadow-md md:h-[42rem] md:w-[58rem] md:space-y-8"
  >
    <!--Pour le menu-->
    <!--Titre-->
    <div class="text-s text-center font-bold md:text-lg">kk</div>
    <!--Icones-->
    <div class="flex flex-col justify-center space-y-8">
      <div
        class="flex flex-col justify-center justify-center space-y-8 md:flex-row md:space-y-0 md:space-x-10"
      >
        <div
          class="flex w-[14rem] flex-none cursor-pointer flex-col justify-center rounded-lg border shadow-md transition delay-150 duration-150 ease-in-out hover:-translate-y-1 hover:scale-110 sm:w-[20rem] lg:w-[rem]"
        >
          <div class="flex justify-center">
            <img
              class="h-10 sm:h-20"
              src="assets/images/Inspection_zec_arrivee.png"
              alt="photo"
            />
          </div>
          <div class="text-l sm:text-l p-4 text-center font-bold">
            {{ "MENU.INSPECTION_ZEC" | translate }}
          </div>
        </div>
        <div
          class="flex w-[14rem] flex-none cursor-pointer flex-col rounded-lg border shadow-md transition delay-150 duration-150 ease-in-out hover:-translate-y-1 hover:scale-110 sm:w-[20rem] lg:w-[20rem]"
        >
          <div class="flex justify-center">
            <img
              class="h-10 sm:h-20"
              src="assets/images/tour_avion_arrive.png"
              alt="photo"
            />
          </div>
          <div class="text-l sm:text-l p-4 text-center font-bold">jj</div>
        </div>
      </div>
    </div>
  </div>
</div>
