<header
  class="flex h-16 flex-col items-center justify-around bg-gradient-to-r from-primary-700 to-primary-300 px-10 sm:flex-row sm:justify-between bg-[#dc2626]"
>
  <img
    src=""
    alt="Logo EatWELL"
    class="hidden h-5 cursor-pointer sm:inline"
    routerLink="/home"
  />
  <span
    class="cursor-pointer text-sm font-bold text-white hover:text-[#cbd5e1] lg:text-xl"
    routerLink="/home"
    >EATWELL</span
  >

  <div class="flex items-center text-sm text-white sm:space-x-14 space-x-3">
    <mat-icon class="cursor-pointer" routerLink="/home">home</mat-icon>
    <mat-icon class="cursor-pointer" routerLink="/menu">restaurant</mat-icon>
    <mat-icon class="cursor-pointer" routerLink="/basket">shopping_basket</mat-icon>

    <input
      id="darkMode"
      type="checkbox"
      [checked]="darkMode$ | async"
      (change)="onToggle()"
      class="toggle"
    />
    <label class="toggle-label" for="darkMode">
      <img
        src="https://raw.githubusercontent.com/talohana/angular-dark-mode/master/src/assets/moon.svg"
        class="moon"
      />
      <img
        src="https://raw.githubusercontent.com/talohana/angular-dark-mode/master/src/assets/sun.svg"
        class="sun"
      />
    </label>
    <span class="mx-2">|</span>
    <a
      [matMenuTriggerFor]="menuLanguage"
      class="mat-title m-0 cursor-pointer text-xl"
      >{{ string }}<mat-icon>language</mat-icon></a
    >
    <mat-menu #menuLanguage="matMenu">
      <button mat-menu-item (click)="french()">Français</button>
      <button mat-menu-item (click)="english()">English</button>
    </mat-menu>
  </div>
</header>
