<nav>
  <input id="nav-toggle" type="checkbox" />
  <div class="logo">EAT<strong>WELL</strong></div>
  <ul class="links">
    <li>
      <a href="#"
        ><mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="shopping_basket"
          color=""
        ></mat-icon
      ></a>
    </li>
    <li>
      <a href="#"
        ><mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="home"
          color=""
        ></mat-icon
      ></a>
    </li>
    <li>
      <a href="#"
        ><mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="restaurant_menu"
          color=""
        ></mat-icon
      ></a>
    </li>
    <li>
      <a href="#home"
        ><mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="language"
          color=""
        ></mat-icon
      ></a>
    </li>
    <li>
      <a href="#about"
        ><mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="brightness_medium"
          color=""
        ></mat-icon
      ></a>
    </li>
  </ul>
  <label for="nav-toggle" class="icon-burger">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </label>
</nav>
