<div class="flex flex-row space-x-4">
  <div
    class="flex w-[10rem] justify-center flex-col space-y-2 p-4 md:h-[35rem] md:flex-row space-x-4 md:w-[60rem] items-center rounded-lg"
  >
    <div class="flex flex-col space-y-4">
      <div
        class="flex flex row  rounded-lg border w-[19rem] sm:w-[55rem] h-[25rem] justify-center"
      >
        <div
          class="flex flex-col space-y-2 rounded-lg  w-[35rem] h-[23rem]"
        >
          <!-- Titre -->
          <div class="flex flex-row justify-center p-2 ">
            <div class="text-2xl sm:text-l p-2 text-center font-bold">
              {{ 'RECAP.RECAP' | translate }}
            </div>
          </div>

          <div class="flex flex-row justify-center p-2 ">
            <div class="text-xl sm:text-2xl p-2 text-center font-bold text-orange-400 ">
              {{ 'RECAP.WAIT' | translate }}  <mat-icon>loop</mat-icon>
            </div>
          </div>

          <!-- Résumé -->
          <div class="flex flex-col justify-center p-2 space-y-2">
            <div
              class="flex flex row rounded-lg p-2 border w-[17rem] sm:w-[40rem] h-[11rem] bg-[#fbbf24] items-center justify-between"
            >
                <div
                  class="text-xl sm:text-l p-2 text-center font-bold w-[15rem] h-[10rem]"
                >
                  2 Burger classique
                </div>
              <div
                class="text-xl sm:text-l p-6 text-center font-bold"
              >
                Total 20€
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="flex flex-row rounded-lg border w-[19rem] sm:w-[55rem] h-[5rem]  justify-between items-center p-6"
      >
        <div routerLink= "/items">
          <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="reply_all"
            color=""
          ></mat-icon>
        </div>
        <div routerLink= "/home">
          <div
            class="flex rounded-lg border w-[12rem] sm:w-[12rem] sm:h-[3rem]  items-center p-2  bg-[#dc2626]"
          >
            <div class="text-l sm:text-l p-2 text-center justify-center font-bold">
              <button> Modifier commande </button>
              <mat-icon>edit</mat-icon>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
