<div class="flex flex-row space-x-4">
  <div
    class="flex w-[10rem] justify-center flex-col space-y-2 p-4 md:h-[35rem] md:flex-row space-x-4 md:w-[60rem] bg-[#fed7aa] basis-5/6 rounded-lg"
  >
    <div class="flex flex-col space-y-4">
      <div
        class="flex flex row  rounded-lg border w-[55rem] h-[25rem] justify-center"
      >
        <div
          class="flex flex-col space-y-2 rounded-lg border w-[35rem] h-[23rem]"
        >
          <!-- Titre -->
          <div class="flex flex-row justify-center p-2 ">
            <div class="text-2xl sm:text-l p-2 text-center font-bold">
              Récapitulatif
            </div>
          </div>

          <div class="flex flex-row justify-center p-2 ">
            <div class="text-l sm:text-l p-0 text-center font-bold text-orange-400 ">
              Commande en cours
            </div>
          </div>

          <!-- Résumé -->
          <div class="flex flex-col justify-c p-2 space-y-2">
            <div
              class="flex flex row rounded-lg border w-[33rem] h-[15rem] items-center justify-between"
            >
                <div
                  class="text-xl sm:text-l p-0 text-center font-bold w-[15rem] h-[10rem]"
                >
                  2 Burger classique
                </div>
              <div
                class="text-xl sm:text-l p-0 text-center font-bold"
              >
                Total 20€
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="flex flex-row rounded-lg border w-[55rem] h-[5rem] justify-between items-center p-10"
      >
        <div routerLink= "/items">
          <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="reply_all"
            color=""
          ></mat-icon>
        </div>
        <div routerLink= "/home">
          <div
            class="flex rounded-lg border w-[15rem] h-[3rem]  items-center p-2 bg-[#ff9900]"
          >
            <div class="text-xl sm:text-l p-0 text-center font-bold">
              <button>Modifier la commande</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
