<div class="flex flex-col justify-center items-center">
  <img alt="Logo EATWELL" class="w-1/2 h-1/2" src="../assets/images/logoo.png" />
</div>

<div class="flex flex-col justify-center items-center space-y-2">

  <div class="flex flex-row font-bold">
    <h1>Welcome to EATWELL</h1>
  </div>
  <div class="flex flex-row text-center p-2">
    <p>Best Food. Good Food</p>

  </div>
  <div class="flex flex-row rounded-lg border w-[12rem] h-[3rem] md:w-[17rem] md:h-[3rem] justify-center items-center  bg-[#fbbf24] cursor-pointer text-center text-l sm:text-xl font-bold text-[#f8fafc] " routerLink="/home">
      <button > {{ 'ORDER.ORDERN' | translate }} !</button>
  </div>
</div>
