<div class="flex flex-row space-x-4">
  <div
    class="flex w-[10rem] justify-center flex-col space-y-2 p-4 md:h-[35rem] md:flex-row space-x-4 md:w-[60rem] bg-[#fed7aa] basis-5/6 rounded-lg"
  >
    <div class="flex flex-col space-y-4">
      <div
        class="flex flex row bg-[#f5f5f4] rounded-lg border w-[55rem] h-[25rem] justify-center"
      >
        <div
          class="flex flex-col space-y-2 rounded-lg border w-[35rem] h-[23rem]"
        >
          <!-- Titre -->
          <div class="flex flex-row justify-center p-2 ">
            <div class="text-l sm:text-l p-2 text-center font-bold">
              Burgers
            </div>
          </div><br><br><br><br>

          <!-- Personnaliser -->
          <div class="flex flex-col justify-center p-2 space-y-2">
              <div
                class="flex flex row bg-[#fed7aa] rounded-lg border w-[33rem] h-[4rem] items-center"
              >
                <div class="basis-1/4"> Classic burger</div>
                <div class="basis-1/4">5€</div>
                <div class="basis-1/4"><button>Personnaliser</button></div>
                <div class="flex basis-1/4 flex-row">
                  <mat-icon
                    aria-hidden="false"
                    aria-label="Example home icon"
                    fontIcon="add_circle_outline"
                    color=""
                  ></mat-icon>
                  <div class="flex justify-center">1</div>
                  <mat-icon
                    fontIcon="remove_circle_outline "
                    color="warn"
                  ></mat-icon>
                </div>
              </div>
            <div
              class="flex flex row bg-[#fed7aa] rounded-lg border w-[33rem] h-[4rem] items-center"
            >
              <div class="basis-1/4"> Classic burger</div>
              <div class="basis-1/4">5€</div>
              <div class="basis-1/4"><button>Personnaliser</button></div>
              <div class="flex basis-1/4 flex-row">
                <mat-icon
                  aria-hidden="false"
                  aria-label="Example home icon"
                  fontIcon="add_circle_outline"
                  color=""
                ></mat-icon>
                <div class="flex justify-center">1</div>
                <mat-icon
                  fontIcon="remove_circle_outline "
                  color="warn"
                ></mat-icon>
              </div>
            </div>
            <div
              class="flex flex row bg-[#fed7aa] rounded-lg border w-[33rem] h-[4rem] items-center"
            >
              <div class="basis-1/4"> Classic burger</div>
              <div class="basis-1/4">5€</div>
              <div class="basis-1/4"><button>Personnaliser</button></div>
              <div class="flex basis-1/4 flex-row">
                <mat-icon
                  aria-hidden="false"
                  aria-label="Example home icon"
                  fontIcon="add_circle_outline"
                  color=""
                ></mat-icon>
                <div class="flex justify-center">1</div>
                <mat-icon
                  fontIcon="remove_circle_outline "
                  color="warn"
                ></mat-icon>
              </div>
            </div>
        </div>
      </div>
      </div>
      <div
        class="flex flex-row bg-[#f5f5f4] rounded-lg border w-[55rem] h-[5rem] justify-between items-center p-10"
      >
        <div>
          <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="reply_all"
            color=""
          ></mat-icon>
        </div>
        <div>
          <div
            class="flex rounded-lg border w-[15rem] h-[3rem] justify-between items-center p-5 bg-[#ff9900]"
          >
            <div class="text-l sm:text-l p-0 text-center font-bold">
              Valider le panier
            </div>
            <div class="text-l sm:text-l p-0 text-center font-bold">
              15€
            </div>
            <mat-icon
              aria-hidden="false"
              aria-label="Example home icon"
              fontIcon="shopping_basket"
              color=""
            ></mat-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

